button#create-workout-with-ai {
    display: inline-flex;
}

.btn-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 5px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
